<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<title>{% block header %}{% endblock %}</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link media="screen" rel="stylesheet" type="text/css" href="{% static 'style1.css' %}" />
<link media="screen" rel="stylesheet" type="text/css" href="{% static 'themes/blue/style.css' %}" />
<script type="text/javascript" src="{% static 'script/jquery-1.4.2.js' %}"></script>
<script type="text/javascript" src="{% static 'script/jquery.tools.js' %}"></script>
<script type="text/javascript" src="{% static 'script/ikonik.js' %}"></script>
</head>
<body>
<div id="wrap">
  <div id="main" class="clearfix">
    <div class="clearfix"></div>
    <div id="full" class="container clearfix">
      <div id="head">
        <div class="grid">
          <div id="cartstatus">
            <p> <a href="#">Мой профиль</a> | <a href="#">Выйти</a> </p>
          </div>
          <h1 id="logo"><a href="{% url 'pokemons_index' %}">Pokeverse</a></h1>
          {% include 'base_top_menu.html' %}
          <div id="search">
            <form action="#" method="get">
              <input type="text" value="Search" id="s" name="s" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
              <input type="submit" id="searchsubmit" value="Search" />
            </form>
          </div>
        </div>
      </div>
      <div class="big-block grid">
        <div class="big-block-top"></div>
        <div class="big-block-content clearfix">
          <h2 class="page-title">{% block title %}{% endblock %}</h2>
          <div class="pagination">
            {% include 'base_paginator.html' %}
            {% block back_to_list %}{% endblock %}
          </div>
          <hr class="pagination-break" />
          <div class="icon-list clearfix">
            {% block content %}{% endblock %}
          </div>
          <hr class="pagination-break" />
          <div class="pagination">
          {% include 'base_paginator.html' %}
          </div>
        </div>
        <div class="big-block-bottom"></div>
      </div>
    </div>
  </div>
</div>
<div id="footer" class="container">
  <div class="grid clearfix">
    <div class="footer-left">Pokémon and Pokémon character names are trademarks of Nintendo.</div>
    <div class="footer-right"></div>
  </div>
</div>
</body>
</html>